apiVersion: apps/v1
kind: Deployment
metadata:
  name: quarkus-app-2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: quarkus-app-2
  template:
    metadata:
      labels:
        app: quarkus-app-2
    spec:
      containers:
        - name: quarkus-app-2
          image: anejvovcakjob/aces:microservice-demo
          ports:
            - containerPort: 8080
          env:
            - name: CUSTOMERS_API_URL
              value: "http://quarkus-app-3:8084/v1"
---
apiVersion: v1
kind: Service
metadata:
  name: quarkus-app-2
spec:
  selector:
    app: quarkus-app-2
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8080
