apiVersion: apps/v1
kind: Deployment
metadata:
  name: quarkus-app-3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: quarkus-app-3
  template:
    metadata:
      labels:
        app: quarkus-app-3
    spec:
      containers:
        - name: quarkus-app-3
          image: anejvovcakjob/aces:microservice-demo
          ports:
            - containerPort: 8080
          env:
            - name: CUSTOMERS_API_URL
              value: "http://quarkus-app-1:8082/v1"
---
apiVersion: v1
kind: Service
metadata:
  name: quarkus-app-3
spec:
  selector:
    app: quarkus-app-3
  ports:
    - protocol: TCP
      port: 8084
      targetPort: 8080
